.card-drop-shadow {
    position: relative;
    width: 280px;
    margin-top: 100px;
    filter: drop-shadow(0 5px 10px rgba(53, 53, 53, 0.2));
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
    .avatar {
        opacity: 1;
        position: absolute;
        width: 175px;
        height: 175px;
        top: -70px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
    .card {
        position: relative;
        width: 100%;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
        background: #fff;
        .card-content {
            padding: 120px 0 25px 0;
            .flag {
                padding: 25px 0 0 0;
            }
            span.label, span.card-paragraph {
                display: block;
                text-align: center;
            }
            .card-group {
                margin: 25px 0;
            }
            .label {
                color: $font-color-grey;
            }
            .card-paragraph {
                font-family: $primary-typo;
                font-size: 1.2rem;
                span {
                    &:not(:last-child)::after {
                        content: '>';
                    }
                }
            }
        }
    }
}
