*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Archivo Narrow", sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Archivo Narrow", sans-serif;
}

.card-drop-shadow {
  position: relative;
  width: 280px;
  margin-top: 100px;
  filter: drop-shadow(0 5px 10px rgba(53, 53, 53, 0.2));
}
.card-drop-shadow img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.card-drop-shadow .avatar {
  opacity: 1;
  position: absolute;
  width: 175px;
  height: 175px;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.card-drop-shadow .card {
  position: relative;
  width: 100%;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  background: #fff;
}
.card-drop-shadow .card .card-content {
  padding: 120px 0 25px 0;
}
.card-drop-shadow .card .card-content .flag {
  padding: 25px 0 0 0;
}
.card-drop-shadow .card .card-content span.label, .card-drop-shadow .card .card-content span.card-paragraph {
  display: block;
  text-align: center;
}
.card-drop-shadow .card .card-content .card-group {
  margin: 25px 0;
}
.card-drop-shadow .card .card-content .label {
  color: #666666;
}
.card-drop-shadow .card .card-content .card-paragraph {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 1.2rem;
}
.card-drop-shadow .card .card-content .card-paragraph span:not(:last-child)::after {
  content: ">";
}

.container {
  height: 100vh;
  width: 100%;
  width: 75%;
  margin: 0 auto;
}

.header {
  height: 280px;
  width: 100%;
  background: url("../img/Rectangle_1.png") no-repeat top center;
  position: relative;
}
.header a {
  color: #fff;
}
.header .upper-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 2;
}
.header .upper-block .logo-container {
  width: 400px;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header .upper-block .logo-container .ul-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin: 0 25px 0 0;
  padding-right: 25px;
  border-right: 1px solid #fff;
}
.header .upper-block .logo-container .insa-container {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.header .upper-block .upper-right-block {
  position: absolute;
  top: 0;
  right: 0;
  height: 120px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 25px;
}
.header .upper-block .upper-right-block .account-container {
  display: flex;
  width: 50%;
  justify-content: center;
}
.header .upper-block .upper-right-block .account-container i {
  margin-right: 5px;
}
.header .upper-block .upper-right-block .ns-container {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.header .center-block {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
}
.header .center-block .main-title {
  text-align: center;
  color: #fff;
  font-size: 3.75rem;
}
.header .left-triangle {
  position: absolute;
  width: 30%;
  height: 165px;
  background: #e5e5e5;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
          clip-path: polygon(0 0, 0% 100%, 100% 100%);
  bottom: 0;
  left: 0;
}
.header .right-triangle {
  position: absolute;
  width: 52%;
  height: 165px;
  background: #e42618;
  -webkit-clip-path: polygon(100% 100%, 0 100%, 100% 0);
          clip-path: polygon(100% 100%, 0 100%, 100% 0);
  bottom: 0;
  right: 0;
}

.card-details-section {
  display: flex;
  gap: 75px;
  font-family: "Noto Sans", sans-serif;
  width: 80%;
  margin: 0 auto;
}
.card-details-section .card-container {
  width: 510px;
}

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination .pagination-btn {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background: #e42618;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.7rem;
  margin: 7.5px;
}
