.card-details-section {
    display: flex;
    gap: 75px;
    font-family: $content-typo;
    width: 80%;
    margin: 0 auto;
    .card-container {
        width: 510px;
    }
}

.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .pagination-btn {
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 0.7rem;
        margin: 7.5px;
    }
}