*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $primary-typo;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: $primary-typo;
}