@mixin triangle($bg-color, $polygon, $width, $xPosition: 'left') {
    position: absolute;
    width: $width;
    height: 165px;
    background: $bg-color;
    clip-path: $polygon;
    bottom: 0;
    @if $xPosition == 'right' {
        right: 0;
    } @else {
        left: 0;
    }
    
}
$polygon1: polygon(0 0, 0% 100%, 100% 100%);
$polygon2: polygon(100% 100%, 0 100%, 100% 0);

.header {
    height: 280px;
    width: 100%;
    background: url("../img/Rectangle_1.png") no-repeat top center;
    position: relative;
    a {
        color: #fff;
    }
    .upper-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120px;
        z-index: 2;
        .logo-container {
            width: 400px;
            padding-top: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .ul-container {
                position: relative;
                display: inline-block;
                max-width: 100%;
                height: auto;
                margin: 0 25px 0 0;
                padding-right: 25px;
                border-right: 1px solid #fff;
            }
            .insa-container {
                display: inline-block;
                max-width: 100%;
                height: auto;
            }
        }
        .upper-right-block {
            position: absolute;
            top: 0;
            right: 0;
            height: 120px;
            width: 400px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding-right: 25px;
            .account-container {
                display: flex;
                width: 50%;
                justify-content: center;
                i {
                    margin-right: 5px;
                }
            }
            .ns-container {
                display: flex;
                width: 50%;
                justify-content: space-evenly;
            }
        }
    }
    .center-block {
        position: absolute;
        bottom: 90px;
        left: 50%;
        transform: translateX(-50%);
        .main-title {
            text-align: center;
            color: #fff;
            font-size: 3.75rem;
        }
    }
    .left-triangle {
        @include triangle(#e5e5e5, $polygon1, 30%);
    }

    .right-triangle {
        @include triangle(#e42618, $polygon2, 52%, 'right');
    }
}
