// @import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,500,500i,600,600i,700,700i%7CNoto+Sans:400,400i,700,700i%27');
$primary-typo: 'Archivo Narrow', sans-serif;
$content-typo: 'Noto Sans', sans-serif;